@import url(./assets/stylesheets/fonts.css);

/*-----------------------------------------------------*/

/* General Styles */

:root {
    --font-stack:
        system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --text-primary-color: #010009;
    --primary-color: #fbfbfe;
    --secondary-color: #265EC0;
    --secondary-darker: #0c3f97;
    --background-color: #d4e6fc;

    --secondary-glass-background: rgba(38,94,192,0.65);
    --secondary-glass-border: 1px solid rgba(38,94,192,0.325);

    --glass-shadow: 0 1px 7px 1px rgba(16, 45, 94, 0.75);

    --primary-border: #fbfbfe;

    --dropdown-icons-count: 3;
}

.night {
    --text-primary-color: #fbfbfe;
    --primary-color: #00030f;
    --secondary-color: #0c1622;
    --secondary-darker: #02080e;
    --background-color: #0c1622;

    --secondary-glass-background: rgba(12,22,34,0.65);
    --secondary-glass-border: 1px solid rgba(12,22,34,0.325);

    --glass-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.875);
}

body {
    font-family: Roboto, var(--font-stack);
    color: var(--text-primary-color);

    min-height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: url(./assets/images/Day.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: var(--background-color);
}

body.night {
    background: url(./assets/images/Night.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: var(--secondary-darker);
}

/* General Styles */

/*-----------------------------------------------------*/

/* Dropdown Styles */

.dropdown-cont {
    position: fixed;
    top: 1.25%;
    left: 1.25%;

    display: flex;
    flex-direction: column;

    padding: 0.25rem;
    border-radius: 0.5rem;

    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);

}

.dropdown-icon,
.menu-icon {
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.2rem;
}

.dropdown-icon:hover,
.menu-icon:hover {
    border: 1px solid var(--primary-border);
}

.dropdown-icon:active,
.menu-icon:active {
    border: 1px solid transparent;
}

.collapse-wrapper {
    position: relative;
    overflow: hidden;
}

.menu-icons-cont {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.menu-icons-cont.expanded {
    margin-top: 0.35rem;
    max-height: calc(var(--dropdown-icons-count) * (26px + 0.5rem) - 0.5rem + 0.35rem);
}

.menu-icon-wrapper {
    position: relative;
}

.menu-icon-wrapper:before {
    content: 'Show Menu';
    font-size: 0.75rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--background-color);
    white-space: nowrap;
    position: absolute;
    left: 300%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    pointer-events: none;
    opacity: 0;
}

.menu-icon-wrapper:has(+ .collapse-wrapper > .menu-icons-cont.expanded):before {
    content: 'Hide Menu';
}

.menu-icon-wrapper:hover:before {
    opacity: 1;
}

.dropdown-cont:before {
    content: '';
    font-size: 0.75rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--background-color);
    white-space: nowrap;
    position: absolute;
    left: 250%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
}

.dropdown-cont:has(.add-icon:hover):before {
    content: 'Add Location';
    opacity: 1;
}

.dropdown-cont:has(.edit-icons:hover):before {
    content: 'Toggle Edit';
    opacity: 1;
}

.dropdown-cont:has(.unit-icons:hover > .fahrenheit-icon.hide):before {
    content: 'Metric Units';
    opacity: 1;
}

.dropdown-cont:has(.unit-icons:hover > .celsius-icon.hide):before {
    content: 'Imperial Units';
    opacity: 1;
}

/* Dropdown Styles */

/*-----------------------------------------------------*/

/* Main Grid Styles */

.main-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.no-data-notice {
    display: flex;
    background: var(--secondary-glass-background);
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    border: var(--secondary-glass-border);

    box-shadow: var(--glass-shadow);
}

.label-cont {
    min-height: 100%;
    
    -webkit-backdrop-filter: blur(0.25px);
    backdrop-filter: blur(0.25px);

    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice-content {
    color: var(--primary-border);
    padding: 0.75rem;
}

.notice-content > *:first-child {
    margin-top: 0.75rem;
}

.notice-content > * {
    margin-bottom: 0.75rem;
}

.notice-text {
    font-size: 1.15rem;
}

.notice-img {
    vertical-align: top;
    display: inline;
    border: 1px solid var(--primary-border);
    border-radius: 0.2rem;
}

/* Main Grid Styles */

/*-----------------------------------------------------*/

.hide {
    display: none;
}